/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2020, 10:16:54 PM
    Author     : johny
*/
/*--------------------------- Welcome ----------------------------------------*/
.welcome_body{
    overflow: hidden;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right, #085cd0, #b012c7);
    background-size: 101% 1050px;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}
.movie_frame{
    float: left;
    width: 100%;
    padding: 0.5% 0.5% 0.5% 0.5%;
}
.movie_frame_top{
    width: 100%;
    height: 18px;
    float: left;
    background-color: white;
}
/*--------------------------------- Header -----------------------------------*/
.header{
    width: 98%;
    float: left;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    padding-top: 2.4%;
}

.header_center{
    width: 60%;
    float: left;
    text-align: center;
    padding-left: 17%;
    box-sizing: border-box;
}
.header_center div{
    float: left;
    width: 10.2%;
}
.header_left{
    width: 20%;
    float: left;
    text-align: left;
}
.header_right{
    width: 20%;
    float: left;
    text-align: right;
}
/*------------------------------ Contentes ----------------------------------*/
.contents_welcome{
    font-family: 'Quicksand';
    text-align: center;
    padding-top: 14%;
    color: white;
}
h1{
    font-size: 75px;
}
.contents p{
    font-size: 20px;
}
#buy_button{
    width: 150px;
    height: 44px;
    font-family: 'Poppins';
    display: inline-block;
    margin-top: 14px;
}
#buy_button a:link, a:visited{
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    padding: 12px 32px 12px 35px;
    display: inline-block;
    color: white;
    border: 1px solid white;
    transition: 0.2s ease;
}
#buy_button:hover{
}
#buy_button a:hover{
    background: white;
    color: black;
}

/*------------------------------ About us ----------------------------------*/
.aboutUs_body{
    overflow: hidden;
    box-sizing: border-box;
    background-image: url(Background/aboutUs.jpg);
    background-size: 1860px;
    background-repeat: no-repeat;
    position: relative;
    color: black;
}

.contents_aboutUs{
    font-family: 'Quicksand';
    text-align: center;
    padding-top: 16%;
    color: black;
}
.contents_aboutUs p{
    font-size: 20px;
}
#second_contents{
    width: 70%;
    margin-left: 18%;
    margin-top: 5%;
    float: left;
}
#second_contents h3{
    font-size: 20px;
    font-weight: 400;
}
#second_contents div{
    float: left;
    width: 20%;
    color: #777777;
    padding-right: 3%;
}

/*------------------------------ Works ----------------------------------*/
.works_body{
    position: relative;
    height: 100%;

    overflow: hidden;
    box-sizing: border-box;
    background:black;
    color: white;
    font-family: 'Quicksand';
    text-align: center;
}
.contents_works{
    width: 100%;
    height: 500px;
    padding-top: 80px;
    font-size: 35px;
    font-weight: 400;
}
.contents_works .swiper-container {
    width: 150%;
    height: 100%;
    left: -25%;
}

.contents_works .swiper-slide {
    background: #000;
    background: white;
    overflow: hidden;
    box-sizing: border-box;
    margin-right: 500px;
    border-radius: 5px;
}
.contents_works .swiper-slide img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    transition: 0.6s ease;
    object-fit: cover;
    padding: auto;
}

.contents_works .swiper-slide:hover img{
    transform: scale(1.1);
    opacity: 0.8;
}

/*------------------------------ Clients ----------------------------------*/
.clients_body{
    /*background: url(Background/welcome.jpg);*/
    width: 100%;
    background-image: url(Background/clients.jpg);
    overflow: hidden;
    box-sizing: border-box;
    background-size: 105%;
    background-repeat: no-repeat;
    position: relative;
    color: white;


    margin: 0;
    padding: 0;
}
/*#clients_background1{
    width: 100%;
    background: linear-gradient(to bottom right, #085cd0, #b012c7);
    overflow: hidden;
    box-sizing: border-box;
    background-size: 101% 1050px;
    background-repeat: no-repeat;
    position: relative;
}*/
.contents_clients{
    text-align: center;
    width: 100%;
    font-family: 'Quicksand';
    padding-top: 16%;
}
.contents_clients .swiper-container {
    width: 60%;
    overflow: hidden;
    box-sizing: border-box;
}
.contents_clients .swiper-slide {
    text-align: center;
    /* Center slide text vertically */
/*    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;*/
    align-items: center;
    width: 100%;
    height: 300px;

    font-size: 24px;
    font-weight: 400;
    background: gray;
}

.contents_clients .swiper-slide span{
    font-size: 14px;
}
.contents_clients .swiper-slide:nth-child(2n) {
    width: 100%;
}

.contents_clients .swiper-slide:nth-child(3n) {
    width: 100%;
}