/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2020, 10:16:54 PM
    Author     : johny
*/

.contents_title{
    font-family: 'Quicksand';
    text-align: center;
    font-size: 35px;
    font-weight: 400;
}
.button_title{
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s ease-in;
}
.button{
    width: 150px;
    height: 44px;
    display: inline-block;
    margin-top: 14px;
    border-radius: 2px;
}
.button a:link, a:visited{
    display: block;
    padding-top: 8%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
}
.h1_custom{
    width: 50%;
    margin: auto;
    font-size: 75px;
    line-height: 90px;
}

.p_custom{
    width: 41%;
    margin: auto;
    font-size: 20px;
    padding-top: 2%;
    line-height: 30px;
}
/*--------------------------- Movie Frame ----------------------------------------*/
.movie_frame{
    float: left;
    width: 100%;
    padding: 0.5% 0.5% 0.5% 0.5%;
}
.movie_frame_top{
    width: 100%;
    height: 18px;
    float: left;
    background-color: white;
}
/*--------------------------------- Header -----------------------------------*/
.header{
    width: 98%;
    float: left;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    padding-top: 2.4%;
}

.header_center{
    width: 60%;
    float: left;
    text-align: center;
    padding-left: 17%;
    box-sizing: border-box;
}
.header_center div{
    float: left;
    width: 10.2%;
}
.header_left{
    width: 20%;
    float: left;
    text-align: left;
}
.header_right{
    width: 20%;
    float: left;
    text-align: right;
}
/*------------------------------ Welcome ----------------------------------*/
.welcome_body{
    overflow: hidden;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right, #085cd0, #b012c7);
    background-size: 101% 1050px;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}
.contents_welcome{
    font-family: 'Quicksand';
    text-align: center;
    padding-top: 16%;
    color: white;
    width: 100%;
}

/*--------------------*/
#buy_button{
    border: 1px solid white;
    margin-top: 2%;
}
#buy_button a:link, a:visited{
    color: white;
}
#buy_button:hover a{
    background: white;
    color: black;
}
/*------------------------------ About us ----------------------------------*/
.aboutUs_body{
    overflow: hidden;
    box-sizing: border-box;
    background-image: url(Background/aboutUs.jpg);
    background-size: 1860px;
    background-repeat: no-repeat;
    position: relative;
    color: black;
}

.contents_aboutUs{
    font-family: 'Quicksand';
    text-align: center;
    padding-top: 16%;
    color: black;
}
.contents_aboutUs p{
    font-size: 20px;
}
#second_contents{
    width: 70%;
    margin-left: 18%;
    margin-top: 5%;
    float: left;
}
#second_contents h3{
    font-size: 20px;
    font-weight: 400;
}
#second_contents div{
    float: left;
    width: 20%;
    color: #777777;
    padding-right: 3%;
}

/*------------------------------ Works ----------------------------------*/
.works_body{
    position: relative;
    height: 100%;

    overflow: hidden;
    box-sizing: border-box;
    background:black;
    color: white;
    text-align: center;
}
.contents_works{
    width: 100%;
    height: 550px;
    padding-top: 80px;
}
.contents_works .swiper-container {
    width: 150%;
    height: 100%;
    left: -25%;
}

.contents_works .swiper-slide {
    background: #000;
    background: white;
    overflow: hidden;
    box-sizing: border-box;
    margin-right: 500px;
    border-radius: 5px;
}
.contents_works .swiper-slide img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    transition: 0.6s ease;
    object-fit: cover;
    padding: auto;
}

.contents_works .swiper-slide:hover img{
    transform: scale(1.1);
    opacity: 0.8;
}

/*------------------------------ Clients ----------------------------------*/
.clients_body{
    /*background: url(Background/welcome.jpg);*/
    width: 100%;
    background-image: url(Background/clients.jpg);
    overflow: hidden;
    box-sizing: border-box;
    background-size: 105%;
    background-repeat: no-repeat;
    position: relative;
    color: white;


    margin: 0;
    padding: 0;
}
/*#clients_background1{
    width: 100%;
    background: linear-gradient(to bottom right, #085cd0, #b012c7);
    overflow: hidden;
    box-sizing: border-box;
    background-size: 101% 1050px;
    background-repeat: no-repeat;
    position: relative;
}*/
.contents_clients{
    text-align: center;
    width: 100%;
    font-family: 'Quicksand';
    padding-top: 16%;
}
.contents_clients .swiper-container {
    width: 60%;
    background: black;
}
.contents_clients .swiper-slide {
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 300px;
    font-size: 24px;
    padding-top: 6%;
}
.contents_clients .swiper-slide p{
    width: 75%;
    margin: auto;
}

.contents_clients .swiper-slide span{
    font-size: 14px;
    line-height: 70px;
}

/*------------------------------ News ----------------------------------*/
.news_body{
    background: #f7f7f7;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-size: 105%;
    background-repeat: no-repeat;
    position: relative;
    color: black;
    text-align: center;
}
.contents_news{
    width: 100%;
    padding-top: 11%;
}
.news_body contents_title{
    width: 100%;
    float: left;
}
.news_posts{
    width: 100%;
    height: 400px;
    float: left;
    text-align: center;
}

.news_posts .swiper-container {
    width: 60%;
    height: auto;
    padding: 50px;
}

.news_posts .swiper-slide {
    width: 100%;
    background: #fff;
    box-shadow: 1px 10px 50px #afafaf;
    font-family: 'Quicksand';
    color: #777;
}

.news_posts .images{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.news_posts .images img{
    width: 100%;
}
.news_posts .infomation{
    padding: 15px;
}
.news_posts .interactions{
    border-top: 0.1px solid #e6e6e6;
}

#more_news_button{
    margin-top: 5%;
    background: #6442ff;
}
#more_news_button a:link, a:visited{
    color: white;
}
#more_news_button:hover a{
    background: white;
    color: #6442ff;
    border: 1px solid #6442ff;
}
/*------------------------------ Contact ----------------------------------*/
.contact_body{
    overflow: hidden;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right, #085cd0, #b012c7);
    background-size: 101% 1050px;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}
.contents_contact{
    font-family: 'Quicksand';
    text-align: center;
    padding-top: 16%;
    color: white;
    width: 100%;
}

#contactus_button{
    border: 1px solid white;
    margin-top: 3%;
}
#contactus_button a:link, a:visited{
    color: white;
}
#contactus_button:hover a{
    background: white;
    color: black;
}
/*-------------------------- footer ---------------------------------------*/
.footer{
    width: 100%;
    height: 250px;
    float: left;
    padding: auto;
    text-align: center;
    background-color: black;
    color: white;
    line-height: 250px;
}