/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2020, 10:16:54 PM
    Author     : johny
*/
.contents_title{
    font-family: 'Quicksand';
    text-align: center;
    font-size: 35px;
    font-weight: 400;
}
.button_title{
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s ease-in;
}
.button{
    width: 150px;
    height: 44px;
    display: inline-block;
    margin-top: 14px;
    border-radius: 2px;
}
.button a:link, a:visited{
    display: block;
    padding-top: 8%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
}
.h1_custom{
    width: 50%;
    margin: auto;
    font-size: 75px;
    line-height: 90px;
}

.p_custom{
    width: 41%;
    margin: auto;
    font-size: 20px;
    padding-top: 2%;
    line-height: 30px;
}

.background{
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    display: block;
    position: fixed;
    z-index: -999;
    background-repeat: no-repeat;
    background-size: 100%;
}
.background video{
    width: 100%;
}
.sub_background{
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    display: block;
    position: fixed;
    z-index: -1000;
}

.activating_page{

}
.activating_page span{
    color: #9e9e9e;
}
/*--------------------------- Movie Frame ----------------------------------------*/
.movie_frame{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.movie_frame_top{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 18px;
    float: left;
    background-color: white;
}
.movie_frame_right{
    top: 0;
    right: 0;
    position: absolute;
    width: 18px;
    height: 100%;
    float: left;
    background-color: white;
}
.movie_frame_left{
    bottom: 0;
    left: 0;
    position: absolute;
    width: 18px;
    height: 100%;
    float: left;
    background-color: white;
}
.movie_frame_bottom{
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 18px;
    float: left;
    background-color: white;
}
/*--------------------------------- Header -----------------------------------*/
.header{
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
    height: 10%;
    float: left;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    padding-top: 2%;
    box-sizing: border-box;
    overflow: hidden;
    /*background: yellowgreen;*/
    /*resize: none;*/
}
.header .header_center a:hover, .header .header_right a:hover {
    color: #9e9e9e;
}
.header_left{
    width: auto;
    min-width: 20%;
    text-align: left;
    float: left;
}
.icon{
    font-family: 'Poppins';
    width: 30px;
    height: 32px;
    text-align: center;
    padding-bottom: 1%;
    margin-top: -2%;
    margin-left: 20px;
}
.icon span{
    font-size: 24px;
    font-weight: 620;
    text-align: center;
}

.header_center{
    width: auto;
    min-width: 60%;
    float: left;
    text-align: center;
    box-sizing: border-box;
    /*padding: 0 17% 0 17%;*/
    margin: auto;
    /*background: tomato;*/
}
.header_center div{
    float: left;
    width: 16.6%;
}
.header_center div a{
    text-decoration: none;
    transition: 0.2s ease;
}
.header_right{
    width: auto;
    min-width: 20%;
    float: left;
    text-align: right;
    box-sizing: border-box;
    font-size: 13px;
    /*background: violet;*/
}
.header_right a{
    box-sizing: border-box;
    margin: 0 0 0 20px;
    transition: 0.2s ease;
    text-decoration: none;
}
/*------------------------------ Merge content--------------------------------*/
.merge_content{
    position: fixed;
    right: 0;
    top: 16%;
    background: white;
    width: 1.7%;
    box-sizing: border-box;
    text-align: right;
    padding: 0.2% 0.3% 0.6% 0.4%;
    border-radius: 2px;
    transition: 0.5s ease;
}
.merge_content i{
    font-size: 16px;
    color: #9e9e9e;
    padding: 48% 0 0 0;
}
.merge_content .description_merge_content{
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 12px;
    display: block;
    position: fixed;
    background: white;
    color: #9e9e9e;
    right: 2.5%;
    margin: 0.2% 0 0 0;
    border-radius: 2px;
    padding: 0.2% 0.8% 0.2% 0.8%;
    text-align: center;
    transition: 0.2s ease;
    visibility: hidden;
    opacity: 0;
}

.merge_content a:hover .description_merge_content{
    visibility: visible;
    opacity: 1;
}
#quick_option_toolbar {
    position: fixed;
    right: -20%;
    /*right: 0;*/
    top: 0;
    height: 100%;
    width: 20%;
    background: white;
    color: black;
    text-align: center;
    transition: 0.5s ease;
}

#quick_option_toolbar input {
    width: 80%;
    margin: 8% 0 0 0;
    padding: 5% 0 5% 0;
    background: #66b82f;
    color: white;
    font-family: 'Helvetica';
    font-size: 16px;
    font-weight: 600;
    border: 0px;
    border-radius: 4px;
    transition: 0.5s ease;
}
#quick_option_toolbar input:hover {
    background: #66a71e;
}
#quick_option_toolbar pic{
    width: 80%;
    box-sizing: border-box;
}
#quick_option_toolbar pic img{
    width: 100%;
    max-width: 100%;
}
/*.merge_content #quick_option_onclick:focus .merge_content #quick_option_toolbar{
    right: 0;
}*/

.merge_content .description_merge_content:after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left-color: white;
    border-right: 0;
    margin-top: -4px;
    margin-right: -4px;
}


/*------------------------------ Welcome ----------------------------------*/
.welcome_body{
    top: 0;
    left: 0;
    padding: 18px 18px 18px 18px;
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    color: white;
}
.welcome_body .background{
    opacity: 10%;
}

.welcome_body .sub_background{
    background-image: linear-gradient(to bottom right, #085cd0, #b012c7);
}

.welcome_body .icon{
    background: white;
    color: background;
    float: left;
}
.contents_welcome{
    font-family: 'Quicksand';
    text-align: center;
    padding-top: 16%;
    color: white;
    width: 100%;
}

/*--------------------*/
#buy_button{
    border: 1px solid white;
    margin-top: 2%;
}
#buy_button a:link, a:visited{
    color: white;
}
#buy_button:hover a{
    background: white;
    color: black;
}
/*------------------------------ About us ----------------------------------*/
.aboutUs_body{
    overflow: hidden;
    box-sizing: border-box;
    color: black;
}
.aboutUs_body .background{
    background-image: url(Background/Pictures/aboutUs.jpg);
    background-position: 100% 30%;
}
.aboutUs_body .header a{
    color: black;
}
.aboutUs_body .header a:hover{
    color: #9e9e9e;
}
.aboutUs_body .header .icon{
    background: black;
    color: white;
}
.contents_aboutUs{
    width: 100%;
    font-family: 'Quicksand';
    text-align: center;
    padding-top: 16%;
    color: #777777;
}
.contents_aboutUs p{
    font-size: 20px;
}
.second_contents{
    width: 70%;
    margin-left: 20%;
    margin-top: 4%;
    float: left;
}
.second_contents i{
    color: #9153e0;
    font-size: 70px;
    margin-bottom: 4%;
}
.second_contents h3{
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.second_contents div{
    float: left;
    width: 20%;
    padding-right: 4%;
    font-size: 15px;
    line-height: 26px;
}

/*------------------------------ Works ----------------------------------*/
.works_body{
    overflow: hidden;
    box-sizing: border-box;
    color: white;
    text-align: center;
}
.works_body .background{
    background: black;
}
.works_body .header a{
    color: white;
}
.works_body .header .icon{
    background: white;
    color: black;
}
.contents_works{
    width: 100%;
    height: 550px;
    padding-top: 80px;
}
.contents_works .swiper-container {
    width: 150%;
    height: 100%;
    left: -25%;
}

.contents_works .swiper-slide {
    background: white;
    overflow: hidden;
    box-sizing: border-box;
    margin-right: 500px;
    border-radius: 5px;
}
.contents_works .swiper-slide .curtain{
    background: gray;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    position: absolute;
    z-index: 999;
    opacity: 0;
    transition: 0.5s ease-in;
}
.contents_works .swiper-slide .curtain span{
    position: absolute;
    top: 50%;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.contents_works .swiper-slide img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.contents_works .swiper-slide:hover img{
    transform: scale(1.1);
    opacity: 0.8;
}

.contents_works .swiper-slide:hover .curtain{
    opacity: 0.4;
}
.contents_works .swiper-slide:hover .curtain span{
    opacity: 1;
}

/*------------------------------ Clients ----------------------------------*/
.clients_body{
    overflow: hidden;
    box-sizing: border-box;
    color: white;
}

.clients_body .background{
    background-image: url(Background/Pictures/clients.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    opacity: 10%;
}
.clients_body .sub_background{
    background: linear-gradient(to bottom right, #085cd0, #b012c7);
}
.clients_body .header a{
    color: white;
}
.clients_body .header a:hover{
    color: #9e9e9e;
}
.clients_body .header .icon{
    background: white;
    color: background;
}
.contents_clients{
    text-align: center;
    width: 100%;
    font-family: 'Quicksand';
    padding-top: 16%;
}
.contents_clients .swiper-container {
    width: 60%;
}
.contents_clients .swiper-slide {
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 300px;
    font-size: 24px;
    padding-top: 6%;
}
.contents_clients .swiper-slide p{
    width: 75%;
    margin: auto;
}

.contents_clients .swiper-slide span{
    font-size: 14px;
    line-height: 70px;
}

/*------------------------------ News ----------------------------------*/
.news_body{
    overflow: hidden;
    box-sizing: border-box;
    color: black;
    text-align: center;
}
.news_body .background{
    background: #f7f7f7;
}
.news_body .header a{
    color: black;
}
.news_body .header a:hover{
    color: #9e9e9e;
}
.news_body .header .icon{
    background: black;
    color: white;
}
.contents_news{
    width: 100%;
    padding-top: 11%;
}
.news_body contents_title{
    width: 100%;
    float: left;
}
.news_posts{
    width: 100%;
    height: 400px;
    float: left;
    text-align: center;
}

.news_posts .swiper-container {
    width: 60%;
    height: auto;
    padding: 50px;
}

.news_posts .swiper-slide {
    width: 100%;
    background: #fff;
    box-shadow: 1px 10px 50px #afafaf;
    font-family: 'Quicksand';
    color: #777;
}

.news_posts .images{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.news_posts .images img{
    width: 100%;
}
.news_posts .infomation{
    padding: 15px;
    font-size: 12px;
}
.news_posts .infomation h3{
    font-size: 20px;
}
.news_posts .interactions{
    border-top: 0.1px solid #e6e6e6;
    font-size: 12px;
}

#more_news_button{
    margin-top: 5%;
    background: #6442ff;
}
#more_news_button a:link, a:visited{
    color: white;
}
#more_news_button:hover a{
    background: white;
    color: #6442ff;
    border: 1px solid #6442ff;
}
/*------------------------------ Contact ----------------------------------*/
.contact_body{
    overflow: hidden;
    box-sizing: border-box;
    color: white;
}
.contact_body .icon{
    background: white;
    color: background;
    float: left;
}
.contact_body .background{
    opacity: 10%;
}
.contact_body .sub_background{
    background: linear-gradient(to bottom right, #085cd0, #b012c7);
}
.contents_contact{
    font-family: 'Quicksand';
    text-align: center;
    padding-top: 16%;
    color: white;
    width: 100%;
}

#contactus_button{
    border: 1px solid white;
    margin-top: 3%;
}
#contactus_button a:link, a:visited{
    color: white;
}
#contactus_button:hover a{
    background: white;
    color: black;
}
/*-------------------------- footer ---------------------------------------*/
.footer{
    width: 100%;
    height: 250px;
    float: left;
    padding: auto;
    text-align: center;
    background-color: black;
    color: white;
    line-height: 250px;
}
/*-------------------------- fullpage ---------------------------------------*/
#main_div{
    width: 100%;
    height: 100%;
}
#main_div .swiper-container {
    width: 100%;
    height: 100%;
    background: yellowgreen;
}

#main_div .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
